.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 350px;
  margin-top: 80px;

  background: #fff;
  padding: 6px 10px;
  border-radius: 25px;
  border: 1px solid #ddd;

  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.search-input {
  flex: 1;
  height: 42px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-button {
  background: none;
  height: 42px;
  width: 42px;

  display: flex;              
  align-items: center;        
  justify-content: center;    

  border: none;
  font-size: 18px;
  cursor: pointer;
}

.search-button:hover {
  opacity: 0.7;

}